<module>

    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>doris-operators</symbolicName>
    <version>4B-1.0</version>
    <name>NEST-DORIS Operators</name>
    <description>NEST-DORIS InSAR operators</description>

    <vendor>PPO.labs</vendor>
    <contactAddress>XXXX</contactAddress>
    <copyright>XXXX</copyright>
    <url>XXXX</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-dat</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>

    <extension point="beam-ui:actions">

        <!--action>
            <id>InSARProducts</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>InSAR Products</text>
            <parent>insar</parent>
            <!-<separatorAfter>true</separatorAfter>->
        </action-->

        <action>
            <id>ComplexgIfgAction</id>
            <class>org.jdoris.nest.dat.ComplexIfgAction</class>
            <text>Interferogram formation</text>
            <shortDescr>Interferogram from stack with optional subtraction of 'flat earth' phase</shortDescr>
            <parent>insar</parent>
        </action>

        <action>
            <id>CplxCohAction</id>
            <class>org.jdoris.nest.dat.CplxCohAction</class>
            <text>Coherence</text>
            <shortDescr>Estimate coherence from stack of coregistered images</shortDescr>
            <parent>insar</parent>
        </action>

        <action>
            <id>RangeFilterAction</id>
            <class>org.jdoris.nest.dat.RangeFilterAction</class>
            <text>Range Filtering</text>
            <shortDescr>Filter stack of SAR images in RANGE direction</shortDescr>
            <parent>insar</parent>
        </action>

        <action>
            <id>AzimuthFilterAction</id>
            <class>org.jdoris.nest.dat.AzimuthFilterAction</class>
            <text>Azimuth Filtering</text>
            <shortDescr>Filter stack of SAR images in AZIMUTH direction</shortDescr>
            <parent>insar</parent>
        </action>

    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <id>dorisproductsHelp</id>
            <path>doc/help/doris-products.hs</path>
        </helpSet>
    </extension>
</module>
